@{ViewData["Title"]="Access Denied";}

<div class="d-flex justify-content-center mt-5">
	<div class="container justify-content-center">
		<h1>@ViewData["Title"]</h1>
		<p>You do not have the right permission to access this page</p>
	</div>
</div>