@model ProductsIndexViewModel
@{
	ViewData["Title"] = "All Products";
}

<partial name="~/Views/Partials/_Breadcrumb.cshtml" />

<div class="mt-5 container">
	<div>
		<h1>@ViewData["Title"]</h1>
		<div>
			@if (Model != null)
			{
				<partial name="~/Views/Partials/_GridCollection.cshtml" model="Model.All" />

			}
		</div>

	</div>
</div>
