@{ViewData["Title"]="Admin Dashboard ";}

<partial name="~/Views/Partials/_Breadcrumb.cshtml" />
<div class="mb-5">
	<a asp-controller="AdminProducts" asp-action="Create">Register a product</a>
	<a asp-controller="AdminUser" asp-action="index">Register a user</a>
	<a asp-controller="AdminUser" asp-action="allAccount">View all account</a>
	<a asp-controller="AdminProducts" asp-action="Index">View all products</a>


</div>