@{ViewData["Title"]="Admin Panel";}

<partial name="~/Views/Partials/_Breadcrumb.cshtml" />
<div class="mb-5">
	<a asp-controller="AdminProduct" asp-action="Product" >Register a product</a>
	<a asp-controller="Register" asp-action="index">Register a product</a>
	<a asp-controller="Admin" asp-action="allAccount">Register a product</a> 

</div>