@{ViewData["Title"]="Admin Dashboard ";}

<partial name="~/Views/Partials/_Breadcrumb.cshtml" />
<div class="mb-5">
	<div class="mb-5">
		<a asp-controller="Role" asp-action="Index" class="btn btn-secondary">View All roles</a>

	</div>
	<div class="mb-5">
		<a asp-controller="AdminProducts" asp-action="Create" class="btn btn-secondary">Register a product</a>

	</div>
	<div class="mb-5">
		<a asp-controller="AdminUser" asp-action="Create" class="btn  btn-secondary">Register a user</a>

	</div>
	<div class="mb-5">
		<a asp-controller="AdminUser" asp-action="Index" class="btn btn-secondary">View all account</a>

	</div>
	<div class="mb-5">
		<a asp-controller="AdminProducts" asp-action="Index" class="btn btn-secondary">View all products</a>
	</div>

</div>