.collection-item {
    background-color: $color-white;


    .item {
        text-decoration: none;
        display: block;
        .image{
            height:294px;
            width:100%;
            display:flex;
            justify-content:center;
            align-items:center;
        }
    }

    img {
        max-width: 100%;
        max-height: 294px;
    }

    .body {
        color: $color-dark-2;
        font-family: $font-poppins;
        padding: 10px;
        height:141px;
        display:flex;
        flex-direction:column;
        justify-content:space-between;
        align-items:center;

        .title {
            grid-area: title;
            font-size: 18px;
            font-family: $font-poppins;
            font-weight: $font-weight-medium;
        }

        .info {
            font-family: $font-poppins;
            padding: 2px;
            display: flex;
            justify-content: space-between;
            align-items: center;
            height: 40px;

            .price {
                grid-area: price;
                font-size: 16px;
                align-items: center;
            }

            .add-cart {
                grid-area: cart;
                text-align: right;
                align-items: center;
                padding: 2px;
                font-size: 24px;
                color: $color-dark-2;

                &:hover {
                    color: $color-dark-4;
                }
            }
        }
    }

    &:hover {
        text-decoration: none;
    }

    @include xl {
        .add-cart {
            display: none;
        }

        &:hover {
            .add-cart {
                display: block;
            }
        }
    }
}
