@model UserRoleViewModel
@{ViewData["Title"]="AddRoleToUser";}

<partial name="~/Views/Partials/_Breadcrumb.cshtml" />
<h1>set user with role</h1>
<form role="form" method="post" asp-action="AddRoleToUser">
	<div asp-validation-summary="ModelOnly"></div>
	<input asp-for="RoleId" type="hidden" />
	<div class="form-group row">
		<label class="col-sm-2 col-form-label">User</label>
		<div class="col-sm-10">
			<select class="form-control" asp-for="UserId" asp-items="@(new SelectList(Model.Users,"Id","UserName"))">
				<option>choose</option>
			</select>
		</div>
	</div>
</form>