<section class="breadcrumb">
	<div class="container">
		<div class="content">
			<h1>@ViewData["Title"]</h1>		
            <ul class="ul-links">
				<a class="link" asp-action="Index" asp-controller="Home">HOME</a>
				<a class="link" asp-action="Index" asp-controller="Contacts">@ViewData["Title"]</a>
            </ul>
		</div>
	</div>
</section>

