@model IEnumerable<ProductEntity>

@{ViewData["Title"]="All Products";}

<partial name="~/Views/Partials/_Breadcrumb.cshtml" />
<section class="product-section">
	<div class="container">
		@foreach(var item in Model){
			<div class="card">
				<div class="card-body">
					<div class="product-list">
						<div class="info">
							<img class="product-image" src="/images/products/@item.ImageUrl" alt="@item.Title" />
							<div class="title"><strong>@item.Title</strong></div>
						</div>
						<div class="button">
							<a asp-route-articleNumber="@item.ArticleNumber" asp-action="edit" asp-controller="adminproducts" class="btn-theme edit" > Update</a>
							<a asp-route-articleNumber="@item.ArticleNumber" asp-action="remove" asp-controller="adminproducts" class="btn-theme remove">Delete</a>
						</div>
					</div>
				</div>
			</div>
		}
	</div>
</section>